<p>
  
Statistical Inference for Biology will follow Irizarry & Love's <a href="http://rwdc2.com/files/rafa.pdf">Data Analysis for the Life Sciences</a>. It will introduce the statistical concepts essential to understanding p-values and confidence intervals. Lecture and demonstration in concepts will precede guided hands-on practice and coaching for skills development so that participants can perform statistical analysis with good understanding. At the end of the series, participants will be able to:

1. Define a population, sample, estimate, and parameter

2. Describe null and normal distributions

3. Explain why confidence intervals, not p-values, better reflect statistical significance

4. Calculate power

5. Perform permutation and association tests

The course will meet weekly on Tuesdays from 9:00 am - 12:30 pm on March 10th, 17th and 24th in Bar Harbor. Participants must attend in person. Remote attendance from desks, home, or away will not be supported. This course is open to Jackson Laboratory Employees as well as those from neighboring institutions.

</p>
<p>
  <em>Prequisite:</em> Competence with the R programming language.
</p>
