<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Mar 10</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Overview and introductions</td> </tr>
      <tr> <td>09:15</td>  <td>Inference: introduction</td> </tr>
      <tr> <td>09:20</td>  <td>Random variables</td> </tr>
      <tr> <td>09:30</td>  <td>The null hypothesis</td> </tr>
      <tr> <td>09:40</td>  <td>Distributions</td> </tr>
      <tr> <td>09:50</td>  <td>Probability distribution</td> </tr>
      <tr> <td>10:00</td>  <td>Normal distribution</td> </tr>
      <tr> <td>10:10</td>  <td>Practice exercises</td> </tr>
      <tr> <td>10:30</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Populations, samples & estimates</td> </tr>
      <tr> <td>11:10</td>  <td>Practice exercises</td> </tr>
      <tr> <td>11:30</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>11:40</td>  <td>Central Limit Theorem and t-distribution</td> </tr>
      <tr> <td>11:50</td>  <td>Practice exercises</td> </tr>
      <tr> <td>12:10</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, Mar 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Central Limit Theorem in practice</td> </tr>
      <tr> <td>09:15</td>  <td>Practice exercises</td> </tr>
      <tr> <td>09:30</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>09:45</td>  <td>T-tests in practice</td> </tr>
      <tr> <td>09:55</td>  <td>The t-distribution in practice</td> </tr>
      <tr> <td>10:05</td>  <td>Confidence intervals</td> </tr>      
      <tr> <td>10:15</td>  <td>Power calculations</td> </tr>
      <tr> <td>10:25</td>  <td>Practice exercises</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>11:15</td>  <td>Monte Carlo simulation</td> </tr> 
      <tr> <td>11:25</td>  <td>Parametric simulations for the observations</td> </tr>
      <tr> <td>11:35</td>  <td>Practice exercises</td> </tr>
      <tr> <td>11:55</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>12:05</td>  <td>Permutation tests</td> </tr>
      <tr> <td>12:15</td>  <td>Practice exercises</td> </tr>   
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Mar 24</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Review previous exercises & discuss</td> </tr>
      <tr> <td>09:15</td>  <td>Association tests</td> </tr>
      <tr> <td>09:25</td>  <td>Practice exercises</td> </tr>
      <tr> <td>09:45</td>  <td>Review practice exercises & discuss</td> </tr> 
      <tr> <td>09:55</td>  <td>Exploratory Data Analysis</td> </tr>
      <tr> <td>10:00</td>  <td>Quantile Quantile Plots</td> </tr>
      <tr> <td>10:10</td>  <td>Boxplots</td> </tr>
      <tr> <td>10:20</td>  <td>Practice exercises 1 and 2 only</td> </tr>
      <tr> <td>10:35</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Scatterplots and correlation</td> </tr>
      <tr> <td>11:10</td>  <td>Stratification</td> </tr>
      <tr> <td>11:20</td>  <td>Practice exercises 3-8 only</td> </tr>
      <tr> <td>11:40</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>11:50</td>  <td>Plots to avoid</td> </tr>
      <tr> <td>11:55</td>  <td>Practice exercises 9 & 10 only</td> </tr>
      <tr> <td>12:00</td>  <td>Review practice exercises & discuss</td> </tr>
      <tr> <td>12:05</td>  <td>Misunderstanding correlation (advanced)</td> </tr>
      <tr> <td>12:10</td>  <td>Robust summaries</td> </tr>
      <tr> <td>12:15</td>  <td>Wilcoxon rank sum test</td> </tr>
      <tr> <td>12:20</td>  <td>Practice exercises</td> </tr>
      <tr> <td>12:25</td>  <td><a href="" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

